body{
   box-sizing: border-box;
}

*,
*::after,
*::before{
 box-sizing: inherit;  
}
html,
body{
height: 100%;
}
.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;
}
.main{
flex-grow: 1 ;
}

a{
   text-decoration: none;
   color: inherit;
}
ul{
   /* убираем у логотипов нумерований список */
   list-style: none;
}
button{
   padding: 0;
   border: none;
   background-color: transparent;
}

body{
/* font-family: 'Cormorant', serif; */
font-family: 'Open Sans', sans-serif;
color: #151618;
font-weight: 300;

}

.container {
max-width: 1240px;
margin: 0 auto;
padding: 0 20px;
}
.header__inner {
   min-height: 140px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;
}
.logo {
   margin-bottom: 35px;
}
/* робимо кнопку бургер */
.menu__close-btn{
   position: absolute;
   top: 20px;
   right: 20px;
}

.menu__btn {  
   display: none;
   width: 40px;
   height: 20px;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   z-index: 2;
   cursor: pointer;
}
.menu__btn span{
   background-color: black;
   height: 2px;
   width: 100%;
}
.menu--close{
   display: none;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgb(0 , 0, 0, 0.5 );
   z-index: 1;
}
.menu--close.menu--open{
   display: block;
   transition: background-color 0.6s ease;
}
.mobile-nav, .menu__close{
   display: none;
}

.menu__list {
   display: flex;
   align-items: center;
   gap: 0 65px;
   font-size: 18px;
   line-height: 139%;
   font-weight: 400;
   margin-left: 39px;
   position: relative;
   z-index: 3;
}
.user-actions {
   display: flex;
   align-items: center;
   gap: 0 20px;
}
.user-actions__item-search{
   margin-left: 80px;
}
/* ______________section top_______________________ */

.top {
   background-image: url(../images/top/tea-top.jpg);
   background-repeat: no-repeat;
   background-position: bottom left;
   background-size: cover;
}
.top__inner {
   min-height: 500px;
   color: #FFFFFF;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.top__title {
   font-size: 60px;
   font-weight: 400;
   line-height: 100%;
   max-width: 789px;
   font-family: 'Cormorant', serif;
   margin-bottom: 20px;
}
.top__text {
   font-size: 24px;
   font-weight: 400;
   line-height: 121%;
   max-width: 558px;
   font-family: 'Cormorant', serif;
   margin-bottom: 48px;

}
.blockquote {
   text-align: center;
   font-family: 'Cormorant', serif;
   font-size: 40px;
   font-weight: 300;
   line-height: 120%;
   max-width: 704px;
   font-style: italic;
   /* Что би поставить по центру пишем margin 0 auto 
   а т.к нужно 150 пишем 150px auto*/
   margin: 150px auto;

   /* margin-top: 150px;
   margin-bottom: 150px; */

}

/* __________________Section__assortment_______________________ */

.assortment {
   margin-bottom: 150px;
   font-family: 'Cormorant', serif; 
   font-weight: 400;
}

.title{
   font-size: 40px;
   line-height: 120%;
   text-align: center;
   margin-bottom: 60px;
   font-family: 'Cormorant', serif;
   
}
.assortment__list {
   text-align: center;
   display: flex;
   gap: 0 40px;
}

.assortment__img {
   max-width: 208px;
   max-height: 208px; 
   width: 100%; 
}
.assortment__name {
   font-size: 24px;
   line-height: 120%;
   padding-top: 10px;

}
/* ________section reviews____________________________ */

.reviews {
   background-color: #F7F2EA;
   margin-bottom: 150px;
   padding: 60px 0;
}

.reviews__list {
   display: flex;
   gap: 0 26px;
}
.reviews__item {
   flex-basis: 280px;
}
.reviews__text {
   font-size: 16px;
   line-height: 137%;
   margin-bottom: 10px;
   /* max-width: 280px; */
}
.reviews__name {
   font-size: 20px;
   line-height: 135%;
   font-weight: 600;
}
/* ______________________Section main-blog____________________________ */
.main-blog {
   margin-bottom: 150px;
}

.main-blog__list {
   display: flex;
   flex-wrap: wrap;
   gap: 40px 58px;
   justify-content: center;
}
.main-blog__item {
   display: flex;
   flex-basis: 542px;
   gap: 0 20px;
}

.main-blog__item-content {
   display: flex;
   flex-direction: column;
}
.main-blog__item-title {
   font-family: 'Cormorant', serif; 
   font-weight: 400;
   font-size: 24px;
   line-height: 120%;
   margin-bottom: 10px;
   min-height: 86px; 
}
.main-blog__item-autor {
   font-size: 13px;
   line-height: 138%;
   
}
.main-blog__item-link {
   font-size: 13px;
   line-height: 138%;
   margin-top: auto;
   position: relative;

   }
.main-blog__item-link::after{
content: '';
background-image: url(../images/icon.svg);
position: absolute;
width: 5px;
height: 10px;
margin-left: 8px;
bottom: 3px;
}
.main-blog__link {
   display: flex;
   justify-content: center;
   padding: 12px 41px;
   margin: 60px auto 0;
   font-size: 20px;
   line-height: 135%;
   border: 1px solid #151618;
   width: 152px;
}

/* ____________Sections mailing-list__________________________________ */
.mailing-list {
  padding: 100px 0;
  margin-bottom: 150px;
  background-color: #F7F2EA;
  background-image: url(../images/mailing/tea\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom right; 
}
.mailing-list__title {
   text-align: left;
   margin-bottom: 50px;
}
.mailing-list__inner {
   display: flex;
   gap: 60px 40px;   
}
.mailing-list__text {
   font-size: 20px;
   line-height: 150%;
   max-width: 580px;
}
.mailing-list__form {
   display: flex;
   flex-wrap: wrap;
}
.mailing-list__email {
   border: none;
   border-bottom: 1px solid #B8B58B;
   background-color: transparent;
   padding: 3px 15px;
   width: 435px;
   margin-right: 25px; 
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   font-weight: 300;
   line-height: 150%;
   letter-spacing: 0em;
   text-align: left;
   color: #151618; 
   max-width: 560px; 
}
.mailing-list__email::placeholder{
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   font-weight: 300;
   line-height: 150%;
   letter-spacing: 0em;
   text-align: left;
   color: #B8B58B;
   
}
.mailing-list__btn {
   background-color: #FFF;
   border: 1px solid #151618;
   padding: 12px 40px;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   line-height: 135%;
   cursor: pointer;
}
.checkbox {
   /* убираем и рисуем свою */
   position: absolute;
   width: 1px;
   height: 1px;
   clip: rect(0, 0, 0, 0);
   overflow: hidden;
}
.checkbox-style {
   position: absolute;
   width: 10px;
   height: 10px;
   border: 1px solid #151618;
   margin-top: 5px;
}
.checkbox__text {
   font-size: 13px;
   line-height: 136%;
   padding-left: 20px;
}
.mailing-list__label{
   margin-top: 16px;
}
.checkbox:checked + .checkbox-style{
   background-color: blue;
}

/* ____________Section prioritise_______________________________ */
.prioritise {
   margin-bottom: 150px;
}
.prioritise__title {
   font-size: 30px;
   line-height: 136%;
   font-weight: 300;
}

.prioritise__list {
   text-align: center;
   display: flex;
   /* flex-wrap: wrap; */
   gap: 30px 49px;
   justify-content: center;
}

.prioritise__text {
   font-size: 20px;
   line-height: 135%;
   padding-top: 10px;
   margin-bottom: 35px;
   font-weight: 600;
}

/* Footer ___________________________________ */

.footer {
   padding: 100px 0 20px;
   background-color: #F7F2EA;
   }
   .footer__inner {
   margin-bottom: 100px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 0px 40px;
   }
   
   .footer__products-title,
   .footer__company-title,
   .footer__contacts-title {
   font-size: 24px;
   line-height: 120%;
   font-family: 'Cormorant', serif;
   font-weight: 400;
   margin-bottom: 50px;
   }
   .footer__products-item, .footer__company-item {
   margin-bottom: 20px;
   }
  
   .footer__blockquote {
   margin-top: 80px;
   }
   .footer__blockquote-text {
   font-style: italic;
   margin-bottom: 20px;
   }
   .footer__blockquote-author {
   font-size: 12px;
   line-height: 133%;
   font-style: normal;
   }
   .footer__blockquote-author span{
   display: block;
   }
   
   .footer__contacts-text {
   font-size: 13px;
   line-height: 138%;
   margin-bottom: 20px;
   }
   .footer__nav {
   display: flex;
   flex-wrap: wrap;
   }
   .footer__nav-logo {
   margin-right: 40px;
   }
   
   .footer__nav-contacts {
   padding-top: 20px;
   }
   .footer__nav-phone,
   .footer__nav-email {
   font-size: 13px;
   line-height: 138%;
   position: relative;
   padding-left: 32px;
   display: block;
   margin-bottom: 20px;
   }
   
   .footer__nav-phone::before{
   content: '';
   position: absolute;
   left: 0;
   width: 21px;
   height: 21px;
   background-image: url(../images/footer/icon-5.svg);
   }
   .footer__nav-email::before{
   content: '';
   position: absolute;
   left: 0;
   width: 22px;
   height: 16px;
   background-image: url(../images/footer/icon-6.svg);
   
   }
   
   .footer__social {
   margin-top: 40px;
   margin-left: 97px;
   }
   .footer__social-list {
   display: flex;
   gap: 0 20px;
   align-items: center;
   }
   
   .footer__bottom {
   display: flex;
   }
   .footer__copy {
   margin-right: 192px;
   }
   .partners-logo {
   display: flex;
   gap: 0 20px;
   align-items: center;
   }
   
/* __________________@media________________________________ */

@media (max-width: 1000px){
   .user-actions__item-search{
   margin-left: 30px;
   }
   .menu{
      margin-right: auto;
   }
      .logo {
      margin-bottom: 0px;
   }
   .header__inner {
      min-height: auto;
   }
   .blockquote{
      margin-top: 120px;
      margin-bottom: 135px;
   }
   .assortment__title{
      margin-bottom: 30px;
   }
   .assortment__list {
      gap: 0;
   }
   .assortment {
      margin-bottom: 120px;
   }
   .reviews {
      margin-bottom: 120px;
   }
   .reviews__item:last-child{
     display: none;
   }
   .reviews__list{
      justify-content: center;
    }
    .main-blog {
      margin-bottom: 120px;
   }
   .main-blog__list {
      gap: 67px 20px;
      justify-content: center;
   }
   .main-blog__item-img {
      max-width: 230px;
   }
   .main-blog__item {
      flex-basis: 460px;
   }
   .mailing-list__title {
      text-align: center;
      margin-bottom: 60px;
   }
   .mailing-list__inner {
      justify-content: center;
      flex-wrap: wrap;
   } 
   .mailing-list__text {
      text-align: center;
      max-width: 780px;
   }
   .mailing-list {
      padding: 60px 0;
      margin-bottom: 120px;
    }
    .mailing-list__form {
      justify-content: center;
   }
   .checkbox__text{
      max-width: 570px;
   }
   .prioritise {
      margin-bottom: 120px;
   }
   .prioritise__list {
      flex-wrap: wrap;
      gap: 30px 20px;
      justify-content: center;
   }
   .prioritise__list {
      gap: 30px 210px;
   }
   .footer__blockquote {
      margin-top: 0px;
      width: 270px;
      }
      .footer__inner {
         margin-bottom: 55px;
      }
   .footer__nav-logo {
         margin-right: 35px;
   }
   .footer__copy {
      margin-right: 80px;
   }
   .footer__contacts{
      width: 270px;
 
   }
   
}
@media (max-width: 860px){
 .menu__list{
   /* убираем меню */
   transform: translateY(-100%);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: 400px;
   margin: 0 auto;
   background-color: #FFF;
   display: block;
   text-align: center;
   padding-top: 60px;
   /* робимо плавну анімацію  */
   transition: transform 0.7s;
   
 }
 .menu__list.menu__list--open{
   /* Визиваем меню - логика прописана в main.js */
   transform: translateY(0%);
 }

 .mobile-nav, .menu__close{
   display: block;
}
 .menu__item{
   margin-bottom: 30px;
   font-family: 'Cormorant', serif;
   font-size: 20px;
  line-height: 120%;
   width: 400;
}
.mobile-menu{
   font-size: 13px;
   line-height: 138%;
   padding-top: 60px;
   margin: 60px 30px;
   border-top: 2px solid #F7F2EA;
}
.mobile-menu__item{
   margin-bottom: 35px;
}
.mobile-actions{
   background-color: #F7F2EA;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 80px;
}
 .menu__btn{
   display: flex;
 }
 .menu{
   order: -1;
   margin-right: 0;
 } 
 .logo{
  margin-left: auto;
  margin-right: auto;
 }
 .footer__inner{
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 1fr;
 }
 .footer__products,
  .footer__company{
   grid-row: span  3;
  }
  .footer__contacts{
   grid-column: 3 / 4 ;
   grid-row: 3 / 4;
  }

}
@media (max-width: 768px){
.header__inner{
 padding: 30px 64px;  
}
.logo{
   margin-left: auto;
   margin-right: 154px;
}
.blockquote__text{
   max-width: 640px;
  }
  .assortment__title{
   margin-bottom: 40px;
} 
  .assortment__list {
   gap: 0 6px;
   flex-wrap: wrap;
   justify-content: center;
}
.reviews__item:last-child{
   display: block; 
 }
 .reviews__list{
   flex-wrap: wrap;
   gap: 30px 76px;
 }
 .reviews {
   margin-bottom: 120px;
}
.main-blog__item {
   flex-basis: 542px;
}
.main-blog__item-img {
   max-width: 270px;
}
.main-blog__list {
   justify-content: left;
   padding-left: 44px;
   gap: 30px 0px;
}
.main-blog__item:nth-child(even){
 margin-left: 98px;
}
.mailing-list__text {
   flex-basis: 640px;
}
.prioritise__list {
   gap: 30px 133px;
}
}
@media (max-width: 680px){
   .container{
      padding: 0 10px;
   }
   .header__inner{
      padding-left: 0;
      padding-right: 0;
   }
   .top__title{
    font-size: 40px;
    line-height: 120%;  
   }
   .blockquote{
      font-size: 24px;
      line-height: 137%;
      max-width: 480px;
      margin: 60px auto;
   }
   .reviews__list{
      gap: 20px 30px;
   }
   .reviews__item{
       flex-basis: 210px;
    }
    .reviews {
      padding: 50px 0;
      margin-bottom: 60px;
   }
   .reviews__title {
      margin-bottom: 50px;
   }
   .main-blog__item:nth-child(even){
      margin-left: 0px;
     }
}
@media (max-width: 480px){
   .blockquote{
      font-size: 16px;
      line-height: 137%;
      max-width: 376px;
      margin: 60px auto;
   }
   .logo{
      margin-left: auto;
      margin-right: 80px;
   }
   .logo img{
      width: 40px;
   }
   .header__inner {
      padding: 10px 0;
   }
   .menu__list{
      width: 360px;
    }
    .assortment__title{
      margin-bottom: 30px;
   }
    .assortment__list {
      gap: 0;
   }
   .assortment{
      margin-bottom: 60px;
   }
   .main-blog {
      margin-bottom: 60px;
   }
   .main-blog__item-img {
      max-width: 230px;
   }
   .mailing-list {
      padding: 50px 0;
      margin-bottom: 60px;
    }
    .mailing-list__text {
      font-size: 13px;
      line-height: 138%;
   }
   .mailing-list__email {
      padding: 3px 3px;
      width: 300px;
   }
   .mailing-list__inner {
      gap: 30px 0px;   
   }
   .prioritise {
      margin-bottom: 60px;
   }
   .prioritises__title{
      margin-bottom: 30px;
   }
   .footer__inner{
      display: flex;
      flex-wrap: wrap;
   }
   .footer__blockquote{
      width: 100%;
   }
   .footer__blockquote-text {
      margin-bottom: 10px;
   }
   .footer__blockquote-author span{
      margin-bottom: 50px;  
   }
   .footer__contacts{
      width: 100%;
   }
   .footer__contacts-title {
      margin-bottom: 20px;
      text-align: center;
   }
   .footer__nav{
      flex-wrap: nowrap;
   }
   .footer__nav-logo {
      margin-right: 27px;
   }
   .footer__social {
      margin-left: 28px;
   }
   .footer__copy {
      margin-right: auto;
   }
   .footer {
      padding: 50px 0 20px;
   }
   .footer__products{
      margin-right: auto;
   }
   .footer__company{
     padding-right: 85px;
  }
  .footer__blockquote-text {
   margin-top: 50px;
}
}
@media (max-width: 440px){
   .assortment__img {
      max-width: 165px;
   }
   .assortment__title {
      font-size: 24px;
   }
   .reviews__title{
     font-size: 24px; 
     line-height: 120%;
   }
   .footer__nav{
      flex-wrap: wrap;
   }
   .footer__products-title,
   .footer__company-title{
   margin-bottom: 30px;
   }
   .footer__company{
      padding-right: 25px;
   }
}
@media (max-width: 360px){
   .top__title{
      font-size: 24px;
      margin-bottom: 10px;
     }
     .top__text {
      font-size: 13px;
      line-height: 138%;
      margin-bottom: 30px;
   }
   .logo{
      margin-left: auto;
      margin-right: 50px;
   }
   .user-actions__item-search{
      margin-left: 0px;
   }
   .top__inner {
      min-height: 367px;
   }
   .blockquote{
      margin: 70px auto 80px;
      max-width: 340px;
   }
   .assortment__title {
      font-size: 24px;
   }
   .assortment__list {
      padding-top: 0;
   }
   .assortment__title{
      margin-bottom: 0px;
   }
   .assortment {
      margin-bottom: 80px;
   }
   .reviews__item:last-child, 
   .reviews__item:nth-last-child(3){
      display: none;
   }
   .reviews__title {
      margin-bottom: 30px;
   }
   .reviews__item{
      flex-basis: 339px;
   }
   .reviews {
      margin-bottom: 50px;
   }
   .main-blog {
      margin-bottom: 50px;
      gap: 10px 0px;
   }
   .main-blog__item {
      display: block;
   }
   .main-blog__item-img {
      max-width: 270px;
      margin-bottom: 10px;
   }
   .main-blog__title {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 30px;
   }
   .main-blog__list {
      justify-content: center;
   }
   .main-blog__item:nth-child(even){
   display: none;     
   }
   .mailing-list__title {
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 120%;
   }
   .mailing-list__email {
      width: 190px;
   }
   .mailing-list {
      margin-bottom: 50px;
    }
    .prioritises__title{
      font-size: 24px;
      line-height: 120%; 
   }
   .prioritise {
      margin-bottom: 50px;
   }
   .prioritise__title {
      font-size: 20px;
      line-height: 150%;
   }
   .prioritise__text {
      font-size: 10px;
      line-height: 140%;
      padding-top: 0px;
      margin-bottom: 5px;
      font-weight: 400;
   }
   .prioritise__list {
      gap: 40px 120px;
   }
   .footer__social {
   margin: 0 auto;   
}
.footer__nav-logo {
margin-left: 50px;
margin-bottom: 40px;
}
}

